# This is a sample config file for salt-minion that can be used to add extra values to the minion options without passing it via the api

file_client: local
log_file: /tmp/salt

fileserver_backend:
  - roots
  - gitfs

top_file_merging_strategy: same
state_top_saltenv: base

gitfs_remotes:
  - https://github.com/saltstack-formulas/apache-formula

